<form id="logout-form">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" id="logout-btn">
        Logout
    </button>
</form>

<script>
    $('#logout-btn').text(`Logout ${window.__IS_MOBILE__ ? 'mobile' : 'desktop'}`);

    $('#logout-form').on('submit', (e) => {
        e.preventDefault();

        fetch('/api/v1/logout', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(res => {
            if (res.status >= 400) return res.json().then(res => Promise.reject(res));

            return res.json();
        })
        .then(() => {
            if (window.__IS_MOBILE__) {
                window.ReactNativeWebView.postMessage(JSON.stringify({ type: 'LOGOUT' }));
            } else {
                window.location.reload();
            }
        })
        .catch(console.log);
    });
</script>
